@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 min-h-full p-8 flex flex-col items-center;

  &:is(.dark *) {
    @apply bg-gray-900;
  }

  #root,
  .article {
    @apply max-w-screen-xl w-full;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
  @apply tracking-tight text-gray-900;

  &:is(.dark *) {
    @apply text-white;
  }
}

h1 {
  @apply text-5xl font-bold mb-6 mt-6;
}

h2 {
  @apply text-3xl font-bold mb-4 mt-6;
}

h3 {
  @apply text-2xl font-bold mb-3 mt-4;
}

h4 {
  @apply text-xl font-bold mb-2 mt-3;
}

body,
p {
  @apply mb-3 font-normal text-gray-700;

  &:is(.dark *) {
    @apply text-gray-400;
  }
}

.article pre > code,
.render-content pre:has(> code) {
  @apply rounded-lg p-4 mb-3;
}

a,
code {
  /* wrap lines */
  white-space: pre-wrap;
  word-break: break-all;
}

:not(pre) > code {
  @apply bg-gray-300 text-gray-800 text-sm px-1 py-0.5 rounded-md;

  &:is(.dark *) {
    @apply bg-gray-700 text-gray-300;
  }
}

ul,
ol {
  @apply list-outside ps-10;

  li {
    @apply mb-2;
  }
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

li {
  > p:first-child {
    display: inline;
    margin-left: 0 !important;

    + * {
      margin-top: 1rem;
    }
  }

  &:has(> p:first-child) {
    > :is(pre, p, blockquote) {
      content: "";
      margin-inline-start: 1rem;
    }
  }

  &:not(:has(> p:first-child)) {
    padding-left: 0.5rem;
  }

  ul,
  ol {
    @apply mt-2;
  }
}
.render-content {
  ul,
  ol {
    @apply mb-6;
  }

  a {
    @apply text-blue-500 underline;

    &:is(.dark *) {
      @apply text-blue-400;
    }
  }
}

blockquote {
  @apply border-l-4 border-gray-300 pl-4 text-gray-700;
  /* add line vertically */
  margin: 1em 0;
  padding-left: 1em;
  border-left: 0.25em solid;
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019";
  counter-reset: my-awesome-counter;

  &::before {
    counter-increment: my-awesome-counter;
    content: counter(my-awesome-counter);
    position: absolute;
    left: -2.5em;
    top: -0.5em;
    font-size: 3em;
    line-height: 1em;
    color: #ccc;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    width: 2em;
    transform: rotate(-35deg);
  }

  p {
    @apply mb-0;
  }

  &:is(.dark *) {
    @apply border-gray-700 text-gray-300;
  }
}

table {
  @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;

  > thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;

    > tr :is(th) {
      @apply px-6 py-3;
    }
  }

  > tbody {
    tr:not(:last-child) {
      @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
    }

    tr:last-child {
      @apply bg-white dark:bg-gray-800;
    }

    > tr {
      th {
        @apply font-medium text-gray-900 whitespace-nowrap dark:text-white;
      }

      td,
      th {
        @apply px-6 py-4;
      }
    }
  }
}

details {
  user-select: none;
  cursor: pointer;

  &[open] {
    summary {
      @apply text-blue-500 dark:text-blue-400;
    }
  }

  &:not([open]) {
    summary {
      @apply text-gray-500 dark:text-gray-400;
    }
  }

  &:not(:last-child) {
    @apply mb-4;
  }

  .content {
    @apply mt-4 pl-6;
  }
}
