---
import Card, { type Props as CardProps } from '../Card/Card.astro';

interface Frontmatter {
  title: string;
  description: string;
  slug: string;
  tags?: string[];
}

const faqs: { frontmatter: Frontmatter; file: string }[] = Object.values(
  await import.meta.glob('../../content/faqs/*.md', { eager: true }),
);

const cards: CardProps[] = [
  ...faqs.map(({ frontmatter, file }) => {
    const filename = file.split('/').pop()?.split('.')[0];
    return {
      title: frontmatter.title,
      description: frontmatter.description,
      btnHref: `/content/faqs/${filename}`,
      tags: frontmatter.tags,
      type: 'faq',
    };
  }),
];
---

<div class="cards">
  {cards.map((card) => <Card {...card} />)}
</div>

<style lang="scss">
  .cards {
    @apply grid gap-6 justify-center;

    @screen sm {
      grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    }
  }
</style>
