---
import Card, { type Props as CardProps } from '../Card/Card.astro';

interface Props {
  cards: CardProps[];
}

const { cards } = Astro.props;
---

<div class="cards">
  {cards.map((card) => <Card {...card} />)}
</div>

<style lang="scss">
  .cards {
    @apply grid gap-6 justify-center;

    @screen sm {
      grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    }
  }
</style>
