---
import Card, { type Props as CardProps } from '../Card/Card.astro';

interface Frontmatter {
  title: string;
  description: string;
  slug: string;
}

const faqs: { frontmatter: Frontmatter }[] = Object.values(
  await import.meta.glob('../../content/faqs/*.md', { eager: true }),
);

const cards: CardProps[] = [
  ...faqs.map(({ frontmatter }) => ({
    title: frontmatter.title,
    description: frontmatter.description,
    btnHref: `/faqs/${frontmatter.slug}`,
    type: 'faq',
  })),
];
---

<div class="cards">
  {cards.map((card) => <Card {...card} />)}
</div>

<style lang="scss">
  .cards {
    @apply grid gap-6 justify-center;

    @screen sm {
      grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    }
  }
</style>
