---
import SearchWithDropdown from "../components/SearchWithDropdown/SearchWithDropdown.astro";
import "../styles/tailwind.css";
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="h-full p-8">
		<SearchWithDropdown />
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>

<style lang="scss">
  body {
    @apply bg-gray-50;

		&:is(.dark *) {
			@apply bg-gray-900;
		}
  }
</style>