---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import Tag from '../../../components/Tag.astro';
import { extractAdocFilenamesFromDirectory } from '../../../content/extract-adoc-filenames-from-directory';
import { COLLECTION } from "../../../content/constants";
import { importAdocFiles } from "../../../content/import-entry";

export async function getStaticPaths() {
  const adocFaqFileNames = await extractAdocFilenamesFromDirectory(COLLECTION.FAQS);
  const faqs = await getCollection(COLLECTION.FAQS);

  return [
    ...adocFaqFileNames.map((adocFaqFileName) => ({ params: { faq: adocFaqFileName } })),
    ...faqs.map((faq) => ({ params: { faq: faq.slug } })),
  ];
}

const { faq } = Astro.params;
const entry = await getEntry(COLLECTION.FAQS, faq);

let title: string, description: string, tags: string[];
let Content: any;

if (entry) {
  ({ title, tags, description } = entry.data);
  ({ Content } = await entry.render());
} else {
  const adoc = await importAdocFiles(COLLECTION.FAQS, faq);
  title = adoc.frontmatter.asciidoc.doctitle;
  description = adoc.frontmatter.asciidoc.description;
  tags = JSON.parse(adoc.frontmatter.asciidoc.tags ?? '[]');
  Content = adoc.Content;
}
---

<Layout title={title}>
  <div class="content markdown">
    <h1>{title}</h1>
    <div class="tags">
      {tags.map((tag) => <Tag tag={tag} color="dark" />)}
    </div>
    <p>{description}</p>
    <Content />
  </div>
</Layout>

<style lang="scss">
  .tags {
    @apply flex flex-wrap gap-2 mb-6;
  }
</style>
