---
import '../styles/tailwind.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  type Theme = 'light' | 'dark';
  const theme: Theme = (localStorage.getItem('theme') as Theme) || 'dark';
  document.documentElement.classList.add(theme);
</script>

<html lang="en" class="min-h-full dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="root">
      <slot />
    </div>
  </body>
</html>
